@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 20px;
}

.header .logo-container {
    grid-column: 2;
    justify-self: center;
}

.header img {
    height: 80px;
}

.header .usuario {
    grid-column: 3;
    justify-self: end;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .user {
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
    color: #ffcc01;
    font-weight: bold;
}

.cerrar_sesion {
    font-family: "Press Start 2P", system-ui;
    color: #fff;
    background-color: #ff3b3b;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cerrar_sesion:hover {
    background-color: #e02a2a;
}

.formulario_login {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    gap: 10px;
    align-items: center;
}

.formulario_login input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.formulario_login input::placeholder {
    color: #888;
}

.formulario_login button {
    font-family: "Press Start 2P", system-ui;
    padding: 10px 20px;
    background-color: #016cb1;
    color: #ffcc01;
    border: 5px solid #ffcc01;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario_login button:hover {
    background-color: #015388;
}

.btn-success {
    background-color: #016cb1!important;


}

#cancelar-boton-login{
    background-color: #8c8c8c;
    border: none;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr auto;
    }

    .logo-container {
        grid-column: 1;
    }

    .usuario {
        justify-self: center;
    }

    .formulario_login {
        flex-direction: column;
        gap: 5px;
    }

    .formulario_login input, .formulario_login button {
        width: 100%;
    }
}
